.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid #05acff;  
  border-radius:2px;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 8px;
  margin:1px;
  padding: 0;
  text-align: center;
  height: 8px;
  width: 8px;
}

.square.past{
  border-color:white;
}

.square:focus {
  outline: none;
}
.square:hover{
  border-color:#ffc105;
  
}
.kbd-navigation .square:focus {
  background: #ddd;
}

@keyframes pulse {
  from {
    border-color:white;
  }
  to {
    border-color:purple;
  }

}

.square.pulse{
  
  animation:pulse 2s alternate infinite;
 
  
}